# .#

In [18]:
import sqlite3

# Create in-memory database (won't save on disk)
conn = sqlite3.connect(":memory:")  
cursor = conn.cursor()

In [19]:
cursor.execute("""
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT,
    Age INTEGER,
    City TEXT
)
""")

In [20]:
cursor.executemany("""
INSERT INTO Customers (Name, Age, City) VALUES (?, ?, ?)
""", [
    ('Ali', 30, 'Kuala Lumpur'),
    ('Mei Ling', 25, 'Penang'),
    ('Raj', 28, 'Johor Bahru'),
])

In [21]:
cursor.execute("SELECT * FROM Customers")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ali', 30, 'Kuala Lumpur')
(2, 'Mei Ling', 25, 'Penang')
(3, 'Raj', 28, 'Johor Bahru')

In [22]:
# 1. See only names and cities
cursor.execute("SELECT Name, City FROM Customers")
cursor.fetchall()

[('Ali', 'Kuala Lumpur'), ('Mei Ling', 'Penang'), ('Raj', 'Johor Bahru')]

In [23]:
# 2. Filter by City
cursor.execute("SELECT * FROM Customers WHERE City = 'Penang'")
cursor.fetchall()

[(2, 'Mei Ling', 25, 'Penang')]

In [24]:
# 3. Add a new customer
cursor.execute("INSERT INTO Customers (Name, Age, City) VALUES (?, ?, ?)", ('Sarah', 32, 'Melaka'))
conn.commit()

# 4. See updated table
cursor.execute("SELECT * FROM Customers")
cursor.fetchall()

[(1, 'Ali', 30, 'Kuala Lumpur'),
 (2, 'Mei Ling', 25, 'Penang'),
 (3, 'Raj', 28, 'Johor Bahru'),
 (4, 'Sarah', 32, 'Melaka')]

In [27]:
import sqlite3

# Connect to a new or existing database file
conn = sqlite3.connect("customers.db")
cursor = conn.cursor()

# Load and execute the SQL script
with open("setup_customers.sql", "r") as f:
    sql_script = f.read()

cursor.executescript(sql_script)
conn.commit()

# Test: See the data
cursor.execute("SELECT * FROM Customers")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ali', 30, 'Kuala Lumpur')
(2, 'Mei Ling', 25, 'Penang')
(3, 'Raj', 28, 'Johor Bahru')