# Load SQL file in Python

# # Customers

In [1]:
import sqlite3

# Connect to a new or existing database file
conn = sqlite3.connect("customers.db")
cursor = conn.cursor()

# Load and execute the SQL script
with open("setup_customers.sql", "r") as f:
    sql_script = f.read()

cursor.executescript(sql_script)
conn.commit()

# Test: See the data
cursor.execute("SELECT * FROM Customers")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ali', 30, 'Kuala Lumpur')
(2, 'Mei Ling', 25, 'Penang')
(3, 'Raj', 28, 'Johor Bahru')

# # Products

In [4]:
import sqlite3

# Connect to your database
conn = sqlite3.connect("products.db")
cursor = conn.cursor()

# Run the SQL script
with open("setup_products.sql", "r") as f:
    sql = f.read()
cursor.executescript(sql)
conn.commit()

# Test: View products
cursor.execute("SELECT * FROM Products")
for row in cursor.fetchall():
    print(row)

(1, 'Laptop', 'Electronics', 3200.0, 1)
(2, 'Smartphone', 'Electronics', 2100.5, 1)
(3, 'Office Chair', 'Furniture', 450.0, 0)
(4, 'Desk Lamp', 'Furniture', 79.9, 1)